img {
    width: 100%;
    height: 100%x;
    object-fit: contain;
  }

body {
    background-image: url('./DNA_hero.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.container{
  display: inline-block;
  margin-top: 7%;
  margin-left: 4% !important;
}
.typed-out{
  overflow: hidden;
  /* border-right: .15em solid orange; */
  white-space: nowrap;
  animation: typing 4s steps(20, end) forwards, blinking .8s infinite;
  font-size: 3.6rem;
  width: 0;
}
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}
@keyframes blinking {
  from { border-color: transparent }
  to { border-color: orange; }
}